<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ModPlay!!</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/page_not_found.css">
    <link rel="stylesheet" href="/upload.css">
</head>
<body>
    <header>
        <div class="container">
            <h1><a>ModPlay</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Subscriptions</a></li>
                    <li><a href="/upload">Upload</a></li>
                </ul>
            </nav>
        </div>
    </header>