<%- include('./head.ejs') %>
<link rel="stylesheet" href="/page_not_found.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>MyVideoHub</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Subscriptions</a></li>
                    <li><a href="upload">Upload</a></li>
                </ul>
            </nav>
        </div>
    </header>
<div class="page_not_found">
    <div class="error-code">404</div>
    <div class="error-message">Page Not Found</div>
    <a href="/" class="/">Go back to Homepage</a>
  </div>